* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --p-pale-blue: hsl(225, 100%, 94%);
  --p-bright-blue: hsl(245, 75%, 52%);
  --n-Very-pale-blue: hsl(225, 100%, 98%);
  --n-Desaturated-blue: hsl(224, 23%, 55%);
  --n-Dark-blue: hsl(223, 47%, 23%);
}

body {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

p {
  line-height: 1.6;
  color: var(--n-Desaturated-blue);
}

.container {
  height: 100vh;
  /* User url as top wave*/
  background-image: url('../images/pattern-background-desktop.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  /* Use background color as bottom wave */
  background-color: var(--p-pale-blue);

  /* Center Container */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: var(--white);
  max-width: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 50px -7px rgb(183, 191, 241);
  padding-bottom: 2rem;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-body h1 {
  text-align: center;
  padding: 35px 75px 15px;
  color: var(--n-Dark-blue);
}

.card-body p {
  text-align: center;
  padding: 0 20px 10px;
}

.card-plan {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--n-Very-pale-blue);
  border-radius: 12px;
  margin: 1.5rem 2rem 2rem 2rem;
  padding: 1rem 1rem;
}

.card-plan .price {
  margin-right: 65px;
}

.card-plan .price .selected-plan {
  font-weight: 900;
  color: black;
  padding: 0;
  margin-top: 8px;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
